ul.breadcrumb {
    margin: 20px 0;
    list-style: none;

    li {
        display: inline;
        position: relative;
        font-size: 1.4rem;
        padding: 0 15px;

        &:first-child {
            padding: 0 15px 0 0;
        }

        +li:before {
            position: absolute;
            left: -5px;
            font-family: $liga;
            color: $blue;
            content: "s";
            transform: rotate(-90deg);
        }

        a {
            color: $granat;
            text-decoration: none;

            &:hover {
                color: $granat;
                text-decoration: underline;
            }
        }
    }
}