.swiper-results {
    margin: 30px 0;

    .swiper-wrapper {
        .swiper-slide {
            margin-bottom: 30px;
        }
    }

    &_box {
        border-radius: 12px;
        border: 1px solid $blue;
        padding: 10px 20px;
        margin-bottom: 10px;

        .flex-end {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            @include breakpoint(md) {
                justify-content: flex-end;
            }
        }
    }

    &_unactive {
        opacity: .5;
    }

    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            background: $grey;
            opacity: 1;
            width: 12px;
            height: 12px;

            &.swiper-pagination-bullet-active {
                background: $white;
                border: 1px solid $blue;
            }
        }
    }
}

.swiper-header {
    margin-bottom: 50px;

    .swiper-pagination-bullets {
        width: 100%;

        @include breakpoint(md) {
            width: 50% !important;
        }

        .swiper-pagination-bullet {
            background: #D9D9D9;
            opacity: 1;
            width: 12px;
            height: 12px;

            &.swiper-pagination-bullet-active {
                background: #ffffff;
                border: 1px solid #009DDE;
            }
        }
    }

    .swiper-wrapper {
        h1 {
            margin-top: 70px;
            font-size: 4.2rem;
            line-height: 5.1rem;
            font-weight: 400;
            background: -webkit-linear-gradient(45deg, $blue, $granat);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h2 {
            font-size: 3rem;
            line-height: 3.5rem;
            font-weight: 400;
            color: $dark-grey;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: 400;
            color: $dark-grey;
        }
    }
}
